<h1><%= @room.title %></h1>
<p>
<li> City: <%= @room.city %> </li>
<li> Price: <%= @room.price %> </li>
<li> Description: <%= @room.description %> </li>
<%= link_to 'Back to rooms list', {:action => 'index'} %>
</p>